.body{
    background-color: #e8e6d8;
}
header{
    background-color: #e2d0e6;
    padding: 20px 0;
}

.img-titulo{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.titulo_header{
    /*border: 10px solid #678cd6;*/
    font-size: 4em;
    position: absolute;
    top: 20px;
    right: 80px;
    background: rgb(216, 188, 85);
    color: blue;
}

.candado{
    width: 20%;
    padding: 0px 0px 0px 10px;
}

.ultextarea{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.ultextarea li{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.ultextarea h2{
    font-size: 30px;
    font-weight: bold;
}

.ultextarea textarea{
    width: 330px;
    height: 150px;
}

#Copiar{
    display: none;
}
.ultextarea input{
    background-color: aquamarine;
}

.ultextarea input:hover{
    transform: scale(1.2);
}

footer{
    background: #6f7550;
}

.derecho-autor{
    color: #ffffff;
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}


